body {
	font-family: 'Raleway', sans-serif;
	background-color: #4d0066;
	overflow-x: hidden;
}

/*This is the style code for the heading.  h1 and h2 have slightly different style requirements.*/
.header {
	text-align: center;
	font-weight: 300;
	padding: 10px;
	background-color: #1dc9c9;
	color: white;
	width: 100%;
	text-shadow: 2px 2px #000000;
	margin-left: -10px;
	margin-top: -10px;
}

.header h1 {
	font-size: 80px;
}

/*Styling for the links in the navbar.*/
a  {
	cursor: pointer;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	background-color: #1dc9c9;
	color: white;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	border: 1px solid #1dc9c9;
	font-weight: bold;
	display: inline-block;
}

a:hover {
	background-color: white;
    color: #1dc9c9;
}

a:active {
	background-color: #1dc9c9;
	color: white;
}

.row {
	color: #4d0066;
	text-align: center;
	height: 300px;
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

img {
	width: 25%;
	height: 110px;
	display: block;
	margin-left: 37%;
	margin-right: 37%;
	margin-bottom: 15px;
}

.resume {
	width: 30%;
	float: left;
	padding: 5px;
	border: 2px solid #1dc9c9;
	height: 100%;
	border-radius: 5px;
	background-color: white;
}

.projects {
	width: 30%;
	display: inline-block;
	padding: 5px;
	border: 2px solid #1dc9c9;
	height: 100%;
	border-radius: 5px;
	background-color: white;
}

.contact {
	width: 30%;
	float: right;
	padding: 5px;
	border: 2px solid #1dc9c9;
	height: 100%;
	border-radius: 5px;
	background-color: white;
}