body {
	font-family: 'Raleway', sans-serif;
}

/*This is the style code for the heading.  h1 and h2 have slightly different style requirements.*/
.header {
	text-align: right;
	font-weight: 300;
	padding: 10px;
	width: 50%;
	float: left;
	border-right: 1px solid black;
}

.header h1 {
	padding: 20px;
}

.header h2 {
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*Styling for the links in the navbar.*/
a  {
	cursor: pointer;
	color: black;
	text-decoration: none;
	-webkit-transition: font-weight, 0.25s, ease;
	transition: font-weight, 0.25s, ease;
}

a:hover {
	font-weight: bold;
	padding-left: 10px;
}

a:active {
	color: #cccccc;
	font-weight: bold;
}

/*Style for the navbar itself.*/
.nav {
	width: 100px;
	float: left;
	padding: 20px;
	max-width: auto;
	line-height: 180%;
	
}

/*I had to override the default paragraph CSS settings so that the links were
evenly distributed along the navbar.*/
.nav p {
	font-weight: bold;
	border-right: 1px solid black;
	display: inline;
	padding-right: 5px;
}

/*Styling for the different content of each page.  It had to be center properly.*/
.section {
	margin-left: auto;
	margin-right: auto;
	clear: both;
	width: 50%;
	padding: 5px;
	line-height: 150%;
}

/*This was added to prevent links in the content section from moving to the right.*/
.section a:hover {
	font-weight: bold;
	padding-left: 0px;
}

/*Created a separate div for the contacts page so that its width was small enough to be
centered properly.*/
.info {
	margin-left: auto;
	margin-right: auto;
	clear: both;
	width: 250px;
	padding: 5px;
}

/*Wanted consistency between the e-mail addresses above and the Facebook and LinkedIn
links below.*/
.info a {
	display: block;
}

/*Links on the contacts page don't move to the left like the ones in the navbar.*/
.info a:hover {
	font-weight: bold;
	padding-left: 0px;
}